

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #f2f2f2;
  --background-end-rgb: #f2f2f2;
}
/* DARK MODE, FIX THIS LATERFF
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/ 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {  
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.13rem;
  color: #333
 }

h2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.06rem;
  color: #BDBDBD;
}

h3 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.08rem;
  color: #4f4f4f
}

p {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.045rem;
  color: #333;
}


li {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.08rem;
  color: #4f4f4f;
  margin-bottom: 3rem;
}

li:hover {
  text-decoration: underline;
}

.foot li {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 1rem;
  letter-spacing: 0.045rem;
  color: #333;
}

.fa-bars {
  color: #333;
}

@keyframes moveObject {
  0% {
    transform: translate(0, 0); /* Starting position */
  }
  100% {
    transform: translate(10px, 10px); /* Moves to top right */
  }
}

.buttonanimate {
  transform: translate(6px, -6px);
  transition: transform .5s;
}

.smile {
  transform: translate(0px, 0px);
  transition: transform .5s;
}
